body { 
      font: 25px Arial, sans-serif; 
      margin: 50px; 
      } 
    header { 
      padding: 50px 50px; 
      background-image: url('pic1.png');      
      } 
    header h1 { 
      font-size: 60px; 
      }
   .container { 
      width: 100%;  
      background: lightblue; 
      margin: auto;
      -moz-border-radius: 10px;
    border-radius: 10px;
      } 
      h1{
         color:darkblue;
         font-family:verdana;
         font-size:25%;
        }
      p{
         color:dark blue;
         font-family:courier;
         font-size:100%;
       }
   footer { 
      background: none; 
      text-align: center; 
      padding: 5px; 
      } 
   .button {
        padding: 10px 20px;
        //margin-left: 10px;
        background-color: blue;
        border-radius:5px;
        font-weight:bold;
        font-size:18px;
       font-family:monospace;
         margin: auto;
        color: white;
        border: none;
        text-align:center;
        cursor: pointer;
    }
div {
  border: 9px solid;
  border-radius: 25px;
}
.center
{
 text-align: center;
 list-style-position: inside;
}
ol.center li
{
 text-align: left;
 margin-left: 25%;
}
ul.center li
{
 text-align: left;
 margin-left: 42%;
}
.bg-modal{
  width: 100%;
  height: 100%;
  background-color: black; 
  opacity:0.7;
  position:absolute;
  top:0;
}